* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
				
				font-family: 'Vollkorn', serif;
    }

.fullPage {

	background-image: url("images/background-score.jpg");
	background-color: #777696;
	opacity: .9;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bodyContainer {
	
}