.titleCard {
	padding-left: 15vw;
	padding-top: 10vh;
	padding-bottom: 10vh;
	margin-top: 15vh;
	background-color: #f5f5dc;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 24px;
}

.subtitles {
	margin-left: 30px;
}