.titleCard {
	padding-left: 15vw;
	padding-top: 10vh;
	padding-bottom: 10vh;
	margin-top: 15vh;
	background-color: #f5f5dc;
	box-shadow: 15px solid black;
}

h1 {
	font-size: 36px;
	line-height: 2;
}

h2 {
	font-size: 24px;
}

h3 {
	font-style: italic;
}

.subtitles {
	margin-left: 30px;
}